include ../ui-control/ui-control

mixin navigation(options)

  -
    const {
      type,
      items,
      isItemThemeRu,
      loginName,
      registrationName,
      linkModifier,
      userName,
      isThemeEn,
    } = options;

    const itemClass = isItemThemeRu ? 'navigation__item_type_ru' : '';

    const classModifier = isThemeEn ? 'navigation_theme_en' : '';

    const linkClasses = linkModifier.map((value) => (value !== false ? `navigation__link_type_${value}` : ''));


  if type === 'default'
    nav.navigation.js-navigation(class = classModifier)
      a.navigation__logo-link(href='index.html')
        img.navigation__logo-image(src = require('../images/icon-logo.svg') alt = "логотип")

      ul.navigation__list.js-navigation__list.navigation__list_hidden
        each item, index in items
          li.navigation__item(class = itemClass)
            a.navigation__link(href = "change-me.html" class = linkClasses[index])=item

      div.navigation__buttons-wrapper
        div.navigation__sign-in-button-wrapper
          +ui-control({ content: `${loginName}`, link:"sign-in.html", type: 'navigationWithBorder' })
        div.navigation__button-registration-wrapper
          +ui-control({ content:`${registrationName}`, link: 'registration.html', type: 'navigation' })
        button.navigation__button-mobile.js-navigation__button-mobile

  else if type === 'loggedIn'
    nav.navigation.js-navigation.navigation_logged
      a.navigation__logo-link(href='index.html')
        img.navigation__logo-image(src = require('../images/icon-logo.svg') alt = "логотип")

      ul.navigation__list.js-navigation__list.navigation__list_logged.navigation__list_hidden
        each item, index in items
          li.navigation__item.navigation__item_logged
            a.navigation__link(href = "change-me.html" class = linkClasses[index])=item

      em.navigation__user-name=userName

      div.navigation__buttons-wrapper
        button.navigation__button-mobile.js-navigation__button-mobile
