include ../buttons/buttons

mixin navigation()

  -const {typeForNavigation, itemsForNavigation, modifierForNavigationItems,
  -navigationLogin, navigationRegistration, navigationLinkModifier, navigationUserName} = attributes

  if typeForNavigation === 'standart'
    nav.navigation.js-navigation
      img.navigation__logo(src=require('../img/icon-logo.svg') alt='logo')

      ul.navigation__list.js-navigation__list
        each item, index in attributes.itemsForNavigation
          li(class=['navigation__item',
           `${modifierForNavigationItems ? `navigation__item_${modifierForNavigationItems}`:''}`])
            a(href='somePage.html' class=['navigation__link',
            `${navigationLinkModifier[index] ?
             `navigation__link_${navigationLinkModifier[index]}`:''}`]) #{item}

      div.navigation__buttons-wrapper
        +buttons()(typeOfButtons='bordering-link' contentOfButtons=`${navigationLogin}` linkForButtons='sign-in.html')
        +buttons()(typeOfButtons='full-link' contentOfButtons=`${navigationRegistration}` linkForButtons='registration.html' modifierForButtons='for-navigation')
        button.navigation__button-mobile.js-navigation__button-mobile

  else if typeForNavigation === 'loggedIn'
    nav.navigation.js-navigation.navigation_logged
      img.navigation__logo(src=require('../img/icon-logo.svg') alt='logo')

      ul.navigation__list.js-navigation__list
        each item, index in itemsForNavigation
          li.navigation__item
            a(href='somePage.html' class=['navigation__link',
             `${navigationLinkModifier[index] ?
               `navigation__link_${navigationLinkModifier[index]}` : ''}`]) #{item}

      em.navigation__user-name #{navigationUserName}

      div.navigation__buttons-wrapper
        button.navigation__button-mobile.js-navigation__button-mobile
