mixin radio(arr, arrId, modifier)

  div(class=modifier ? `radio ${modifier}`: 'radio')

    each value, index in arr
      input.radio__field(type='radio' name='radio' id=`${arrId[index]}`  checked=index===0 )
      label.radio__mark(for=`${arrId[index]}`) #{value}
