mixin radio()

  -const {valueForRadio, radioId, modifierForRadio}=attributes

  div(class=['radio',
  `${modifierForRadio ? `radio_${modifierForRadio}`:''}`])

    each value, index in valueForRadio
      input.radio__field(type='radio' name='radio' id=`${radioId[index]}`  checked=index===0 )
      label.radio__mark(for=`${radioId[index]}`) #{value}
