include ../form-element/form-element

mixin datepicker-range(defaultDate)

  +form-element()(typeOfForm='dropdown' placeholderForForm=defaultDate
  modifierForInput='for-datepicker-range' jsModifierForInput='for-datepicker-range')

  +form-element(typeOfForm='dropdown' placeholderForForm=defaultDate
  modifierForInput='for-hide-datepicker' jsModifierForInput='for-hide-datepicker'
    modifierForLabel='for-hide-datepicker')
