include ../ui-control/ui-control
include ../form-element/form-element

mixin sum-guests(options)

  -
    const {isPopupModifier, head, modifier}=options;
    
    const visitors = ['взрослые', 'дети', 'младенцы'];
    
    const visitorsId = ['adult', 'children', 'babies'];

    const classModifier = modifier ? modifier: 'for-guests';

    const popupModifier = isPopupModifier ? 'sum-guests__popup_for-main-ui' : '';

    const controlsOption = [
      {content: 'очистить', isHideModifier: true, jsModifier:'clear', type: 'transparent', modifier: 'color_gray'},
      {content: 'применить', type: 'transparent', jsModifier: 'apply'}
    ];

  div.sum-guests=head ? head:null

    +form-element({type: 'dropdown', placeholder: 'Сколько гостей',
      modifierForLabel: classModifier, jsModifierForInput: 'for-guests'})

    div.sum-guests__popup.js-sum-guests__popup.sum-guests__popup_hidden(tabindex=0 class=popupModifier)

      div.sum-guests__count-container
        each value, index in visitors

          div.sum-guests__container(class=`sum-guests__container_${visitorsId[index]} js-sum-guests__container_${visitorsId[index]}`)

            span.sum-guests__type-visitors=value

            div.sum-guests__number-of-visitors-wrapper
              button.sum-guests__button.sum-guests__button_type_minus.js-sum-guests__button_type_minus(type="button") -
              span.sum-guests__number-of-visitors.js-sum-guests__number-of-visitors 0
              button.sum-guests__button.sum-guests__button_type_plus.js-sum-guests__button_type_plus(type="button") +

      div.sum-guests__buttons-footer-container.js-sum-guests__buttons-footer-container

        each option in controlsOption
          div.sum-guests__button-wrapper
            +ui-control(option)
