include ../buttons/buttons
include ../form-element/form-element

mixin sum-guests(options)

  -const {modifier, modifierForInput, modifierForLabel, head}=options;
  -const visitors = ['взрослые', 'дети', 'младенцы'];
  -const visitorsId = ['adult', 'children', 'babies'];

    div(class=['sum-guests',
    `${modifier ? `sum-guests_${modifier}`:''}`]) #{head ? head:null}

      +form-element({type: 'dropdown', placeholder: 'Сколько гостей',
        modifierForInput: modifierForInput ? modifierForInput: 'for-guests',
        modifierForLabel: modifierForLabel ? modifierForLabel: 'for-guests',
        jsModifierForInput: 'for-guests'})

      div.sum-guests__popup.js-sum-guests__popup.sum-guests__popup_hide(tabindex=0)

        div.sum-guests__count-container
          each value, index in visitors

            div.sum-guests__container(class=`sum-guests__container_${visitorsId[index]} js-sum-guests__container_${visitorsId[index]}`)

              span.sum-guests__type-visitors #{value}

              div.sum-guests__number-of-visitors-wrapper
                button(type='button' class='sum-guests__button sum-guests__button_minus js-sum-guests__button_minus') -
                span.sum-guests__number-of-visitors.js-sum-guests__number-of-visitors 0
                button(type='button' class='sum-guests__button sum-guests__button_plus js-sum-guests__button_plus') +

        div.sum-guests__buttons-footer-container.js-sum-guests__buttons-footer-container

          +buttons({type: 'transparent', content: 'очистить',
           modifier: 'clear', hideModifier: 'hide', jsModifier:'clear'})

          +buttons({type: 'transparent', content: 'применить',
           modifier: 'apply', jsModifier: 'apply'})
