mixin ui-control(options)

  -
    const {content, link, modifier, jsModifier, isHideModifier,
     isBorder, isTransparent, isArrow, type} = options;

    const typeModifiers = {
      filled: 'theme_filled',
      border: 'theme_border',
      like: 'theme_like',
      gray: 'theme_gray',
      transparent: 'theme_transparent',
      navigationWithBorder: 'theme_navigation-with-border',
      navigation: 'theme_navigation'
    };

    const typeModifier = `ui-control_${typeModifiers[type]}`;

    const classModifier = modifier ? `ui-control_${modifier}` : '';

    const isLink = link ? 'a' : 'button';

    const className = link ? 'ui-control_type_link' : `ui-control_type_button`;

    const arrowModifier = isArrow ? 'ui-control_width-arrow' : '';

    const jsClass = jsModifier ? `js-ui-control_${jsModifier}` : '';

    const hideModifier = isHideModifier ? 'ui-control_hidden' : '';

    const classes = [typeModifier, classModifier, className, arrowModifier, jsClass, hideModifier];

    const textContent = (type === 'like' || type === 'gray') ? '' : content;

  #{isLink}.ui-control(href=(link || false) class=classes)=textContent
  
    if type === 'like' || type === 'gray'
      div.ui-control__mark
      div.ui-control__number=content
