mixin ui-control(options)

  -const {content, link, modifier, jsModifier, hideModifier, linkModifier, isBorder, buttonModifier, isTransparent, isArrow} = options;

  -const isLink = link ? 'a' : 'button';

  if isBorder
    div(class=['ui-control', `${modifier ? `ui-control_${modifier}` : ''}`])
      #{isLink}(href=link || false class=[link ? 'ui-control__link' :
       `ui-control__button`, `${linkModifier ? `ui-control__link_${linkModifier}`:''}`,
        `${buttonModifier ? `ui-control__button_${buttonModifier}`:''}`])=content
  else
    #{isLink}(href=link || false class=[link ? 'ui-control_with-link' : 'ui-control',
     `${linkModifier ? `ui-control_${linkModifier}` : ''}`,
      `${buttonModifier ? `ui-control_${buttonModifier}` : ''}`,
      `${isTransparent ? 'ui-control_theme_transparent' :
       'ui-control_theme_filled'}`, `${jsModifier ? `js-ui-control_${jsModifier}` : ''}`,
      `${hideModifier ? `js-ui-control_${hideModifier}` : ''}`])=content
