include ../social-buttons/social-buttons

mixin copyright(options)

  -const {text, modifier, socialModifier}=options;

  section(class=['copyright',
   `${modifier ? `copyright_${modifier}`:''}`])
    em(class=['copyright__head', `${modifier ? `copyright__head_${modifier}` : ''}`]) #{text}

    if(socialModifier)

      +social-buttons({modifier: socialModifier})

    else

      +social-buttons({modifier: 'for-copyright', listModifier: 'for-copyright'})

