mixin checkbox()

  -const {checkboxValue, typeOfCheckbox, headOfCheckbox, checkboxModifier}=attributes

  if typeOfCheckbox === 'checkbox'
    div(class=['checkbox',
     `${checkboxModifier ? `checkbox_${checkboxModifier}`:''}`])

      each value, index in checkboxValue
        input.checkbox__field(type='checkbox' id=`field-checkbox-${index}`)
        label.checkbox__mark(for=`field-checkbox-${index}`) #{value}

  else if typeOfCheckbox === 'checkboxExpandable'
    div(class=['checkbox',
      `${checkboxModifier ? `checkbox_${checkboxModifier}` : ''}`])

      h3.checkbox__head.js-checkbox__head #{headOfCheckbox}
      div.checkbox__wrapper.js-checkbox__wrapper.checkbox__wrapper_hide#checkbox-expandable-wrapper
        each value, index in checkboxValue
          input.checkbox__field(type='checkbox' id=`field-checkbox-expandable-${index}`)
          label.checkbox__mark(for=`field-checkbox-expandable-${index}`) #{value}

  else if typeOfCheckbox === 'rich'
    div(class=['checkbox',
      `${checkboxModifier ? `checkbox_${checkboxModifier}` : ''}`])

      each value, index in checkboxValue
        input.checkbox__field(type='checkbox' id=`field-checkbox-rich-${index}`)
        label.checkbox__mark.checkbox__mark_rich(for=`field-checkbox-rich-${index}`) #{value.label}
          span.checkbox__description #{value.description}
