
mixin checkbox(arr, type, head)
  if type === 'checkbox'
    div.checkbox
      each value, index in arr
        input.checkbox__input(type='checkbox' id=`input-checkbox-${index}`)
        label.checkbox__label(for=`input-checkbox-${index}`) #{value}
  else if type === 'checkboxExpandable'
    div.checkbox
      h3.checkbox__head#checkbox-head #{head}
      div.checkbox__wrapper.hide#checkbox-expandable-wrapper
        each value, index in arr
          input.checkbox__input(type='checkbox' id=`input-checkbox-expandable-${index}`)
          label.checkbox__label(for=`input-checkbox-expandable-${index}`) #{value}
  else if type === 'rich'
    div.checkbox
      each value, index in arr
        input.checkbox__input(type='checkbox' id=`input-checkbox-rich-${index}`)
        label.checkbox__label.checkbox__label--rich(for=`input-checkbox-rich-${index}`) #{value.label}
          span.checkbox__span #{value.description}
