mixin checkbox(arr, type, head, modifier)

  if type === 'checkbox'
    div(class=modifier ? `checkbox ${modifier}`: 'checkbox')
      each value, index in arr
        input.checkbox__field(type='checkbox' id=`field-checkbox-${index}`)
        label.checkbox__mark(for=`field-checkbox-${index}`) #{value}

  else if type === 'checkboxExpandable'
    div(class=modifier ? `checkbox ${modifier}`: 'checkbox')
      h3.checkbox__head.js-checkbox__head #{head}
      div.checkbox__wrapper.js-checkbox__wrapper.checkbox__wrapper_hide#checkbox-expandable-wrapper
        each value, index in arr
          input.checkbox__field(type='checkbox' id=`field-checkbox-expandable-${index}`)
          label.checkbox__mark(for=`field-checkbox-expandable-${index}`) #{value}

  else if type === 'rich'
    div(class=modifier ? `checkbox ${modifier}`: 'checkbox')
      each value, index in arr
        input.checkbox__field(type='checkbox' id=`field-checkbox-rich-${index}`)
        label.checkbox__mark.checkbox__mark_rich(for=`field-checkbox-rich-${index}`) #{value.label}
          span.checkbox__description #{value.description}
