include ../buttons/buttons

mixin review()

  -const {reviewHead, reviewDate, reviewDescription, reviewPath,
  -reviewTypeOfButton, reviewNumberOfLikes, reviewModifier}=attributes

  section(class=['review',
  `${reviewModifier ? `review_${reviewModifier}`:''}`])
    img.review__icon(src=reviewPath alt='фото аватар')
    h3.review__name #{reviewHead}
    span.review__date #{reviewDate}

    div.review__wrapper
      +buttons()(typeOfButtons=reviewTypeOfButton contentOfButtons=reviewNumberOfLikes)
      p.review__description #{reviewDescription}
