mixin form-element()

  -const {typeOfForm, placeholderForForm, modifierForInput,
  -modifierForLabel, jsModifierForInput}=attributes

  if typeOfForm=== 'text'
    div(class=['form-element',
    `${modifierForLabel ? `form-element_${modifierForLabel}`:''}`])
      input(type='text' class=['form-element__field', 'form-element__field_text',
       `${modifierForInput ? `form-element__field_${modifierForInput}`:''}`] placeholder=`${placeholderForForm}`)

  else if typeOfForm === 'dropdown'
    label(class=['form-element', 'form-element_dropdown',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_dropdown',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
        `${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`] placeholder=`${placeholderForForm}` readonly)

  else if typeOfForm === 'masked'
    div.form-element(class=['form-element',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_masked']
       placeholder=`${placeholderForForm}`)

  else if typeOfForm === 'date'
    label(class=['form-element', 'form-element form-element_date',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_date',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
        `${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`] placeholder=`${placeholderForForm}`)

  else if typeOfForm === 'filter'
    label(class=['form-element', 'form-element_dropdown',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_filter', 'form-element__field_dropdown',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholderForForm}`)
      input(type='text' class=['form-element__field', 'form-element__field_hide'])

  else if typeOfForm === 'subscription'
    label(class=['form-element', 'form-element_subscription',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_subscription',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholderForForm}`)

  else if typeOfForm === 'password'
    div.form-element
      input(type='password' class=['form-element__field', 'form-element__field_text',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholderForForm}`)
