mixin form-element(options)

  -
    const {type, placeholder, modifierForInput, modifierForLabel,
     jsModifierForInput}=options;

    const typeOfInput = type === 'password' ? 'password' : 'text'

    const classes = {
      default: modifierForLabel ? `form-element_${modifierForLabel}` : '',
      dropdown: `form-element_type_dropdown ${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`,
      masked: `form-element_type_masked ${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`,
      date: `form-element_type_date ${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`,
      subscription: `form-element_type_subscription ${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`,
      password: 'form-element_type_password',
    };

    const jsModifier = jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : '';

  label.form-element(class=classes[type])
    input.form-element__field(type=typeOfInput class=jsModifier placeholder=`${placeholder}`)
