mixin form-element(options)

  -const {type, placeholder, modifierForInput,
  -modifierForLabel, jsModifierForInput}=options;

  -let labelClasses = ['form-element'];
  -let inputClasses = ['form-element__field'];
  -let readOnly = false;

  -if(type === 'text'){
    -labelClasses.push(`${modifierForLabel ? `form-element_${modifierForLabel}`:''}`);
    -inputClasses.push('form-element__field', 'form-element__field_text',
    -`${modifierForInput ? `form-element__field_${modifierForInput}`:''}`);
  -} else if (type === 'dropdown') {
    -labelClasses.push('form-element_dropdown',
    -`${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`);
    -inputClasses.push('form-element__field_dropdown',
    -`${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
    -`${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`);
    -readOnly = true;
  -} else if (type === 'masked'){
    -labelClasses.push(`${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`);
    -inputClasses.push('form-element__field', 'form-element__field_masked',
    -`${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`);
  -} else if (type === 'date'){
    -labelClasses.push('form-element form-element_date',
    -`${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`);
    -inputClasses.push('form-element__field_date',
    -`${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
    -`${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`);
  -} else if(type === 'subscription'){
    -labelClasses.push('form-element_subscription',
    -`${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`);
    -inputClasses.push('form-element__field_subscription',
    -`${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`);
  -} else if(type === 'password') {
    -inputClasses.push('form-element__field_text',
    -`${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`);
  -}

  label(class=labelClasses)
    input(type='text' class=inputClasses placeholder=`${placeholder}`, readonly=readOnly)
