mixin form-element(options)

  -const {type, placeholder, modifierForInput,
  -modifierForLabel, jsModifierForInput}=options

  if type=== 'text'
    div(class=['form-element',
    `${modifierForLabel ? `form-element_${modifierForLabel}`:''}`])
      input(type='text' class=['form-element__field', 'form-element__field_text',
       `${modifierForInput ? `form-element__field_${modifierForInput}`:''}`] placeholder=`${placeholder}`)

  else if type === 'dropdown'
    label(class=['form-element', 'form-element_dropdown',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_dropdown',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
        `${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`] placeholder=`${placeholder}` readonly)

  else if type === 'masked'
    div(class=['form-element',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_masked']
       placeholder=`${placeholder}`)

  else if type === 'date'
    label(class=['form-element', 'form-element form-element_date',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_date',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`,
        `${jsModifierForInput ? `js-form-element__field_${jsModifierForInput}` : ''}`] placeholder=`${placeholder}`)

  else if type === 'filter'
    label(class=['form-element', 'form-element_dropdown',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_filter', 'form-element__field_dropdown',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholder}`)
      input(type='text' class=['form-element__field', 'form-element__field_hide'])

  else if type === 'subscription'
    label(class=['form-element', 'form-element_subscription',
      `${modifierForLabel ? `form-element_${modifierForLabel}` : ''}`])
      input(type='text' class=['form-element__field', 'form-element__field_subscription',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholder}`)

  else if type === 'password'
    div.form-element
      input(type='password' class=['form-element__field', 'form-element__field_text',
        `${modifierForInput ? `form-element__field_${modifierForInput}` : ''}`] placeholder=`${placeholder}`)
