include ../rate/rate

mixin card-room(arr, name, type, numberRoom, price, numberReview, numberRate, modifier)
  div(class=modifier ? `card-room ${modifier}`: 'card-room')
    div.card-room__wrapper
      div.card-room__image-wrapper
        each value, index in arr
          if index > 0
            img(src=`${value}` class=`card-room__image card-room__image_hide` alt='room image')
          else
            img(src=`${value}` class=`card-room__image` alt='room image')
      form.card-room__form
        each value, index in Array(4)
          if index === 0
            label(class='card-room__mark')
              input(type='radio' class='card-room__radio' name=`${name}` checked=true)
          else
            label(class='card-room__mark')
              input(type='radio' class='card-room__radio' name=`${name}`)

      div.card-room__arrows-wrapper
        button.card-room__arrow.card-room__arrow_prev
        button.card-room__arrow.card-room__arrow_next
    if type === 'luxe'
      div.card-room__number-room-wrapper
        span.card-room__number-mark №
        span.card-room__number #{numberRoom}
        span.card-room__type-room люкс
      div.card-room__price-wrapper
          span.card-room__price #{price}&#8381;
          span.card-room__periodicity в сутки
    else if type === 'normal'
      div.card-room__number-room-wrapper
        span.card-room__number-mark №
        span.card-room__number #{numberRoom}
      div.card-room__price-wrapper
          span.card-room__price.card-room__price_normal #{price}&#8381;
          span.card-room__periodicity в сутки
    +rate(numberRate, 'rate_for-card-room')
    div.card-room__number-review #{numberReview}
      span.card-room__number-review-word Отзывов
