include ../rate/rate

mixin card-room(options)

  -const {images, radioName, type, numberOfRoom, price,
  -numberOfReviews, numberOfRate, modifier}=options;

  div(class=['card-room', 'js-card-room',
   `${modifier ? `card-room_${modifier}`:''}`])
    div.card-room__wrapper
      div.card-room__image-wrapper
        each value, index in images
          if index > 0
            img(src=`${value}` class=`card-room__image js-card-room__image card-room__image_hide` alt='room image')
          else
            img(src=`${value}` class=`card-room__image js-card-room__image` alt='room image')

      form(autocomplete='off').card-room__form.js-card-room__form
        each value, index in Array(4)
          if index === 0
            label(class='card-room__mark card-room__mark_filled')
              input(type='radio' class='card-room__radio js-card-room__radio' name=`${radioName}` checked )
          else
            label(class='card-room__mark')
              input(type='radio' class='card-room__radio js-card-room__radio' name=`${radioName}`)

      div.card-room__arrows-wrapper
        button.card-room__arrow.card-room__arrow_prev.js-card-room__arrow_prev
        button.card-room__arrow.card-room__arrow_next.js-card-room__arrow_next

    div.card-room__number-room-wrapper
      span.card-room__number-mark №
      span.card-room__number #{numberOfRoom}

      if type === 'luxe'
        span.card-room__type-room люкс

    div.card-room__price-wrapper
      span.card-room__price #{price}&#8381;
      span.card-room__periodicity в сутки

    +rate({numberFillStars: numberOfRate, modifier: 'for-card-room'})

    div.card-room__number-review #{numberOfReviews}
      span.card-room__number-review-word Отзывов
