include ../rate/rate

mixin card-room(options)

  -
    const { images, radioName, type, numberOfRoom, price, numberOfReviews, numberOfRate } = options;

  div.card-room.js-card-room
    div.card-room__wrapper
      div.card-room__image-wrapper
        each value, index in images
          if index > 0
            img.card-room__image.js-card-room__image.card-room__image_hidden(src = `${value}` alt = "фото комнаты")
          else
            img.card-room__image.js-card-room__image(src = `${value}` alt = "фото комнаты")

      form(autocomplete = "off").card-room__form.js-card-room__form
        each value, index in Array(4)
          if index === 0
            label.card-room__mark.card-room__mark_filled
              input.card-room__radio.js-card-room__radio(type = "radio" name = `${radioName}` checked )
          else
            label.card-room__mark
              input.card-room__radio.js-card-room__radio(type = "radio" name = `${radioName}`)

      div.card-room__arrows-wrapper
        button.card-room__arrow.card-room__arrow_type_prev.js-card-room__arrow_type_prev
        button.card-room__arrow.card-room__arrow_type_next.js-card-room__arrow_type_next

    div.card-room__number-room-wrapper
      span.card-room__number-mark №
      span.card-room__number=numberOfRoom

      if type === 'luxe'
        span.card-room__type-room люкс

    div.card-room__price-wrapper
      span.card-room__price #{price}&#8381;
      span.card-room__periodicity в сутки

    div.card-room__rate-wrapper
      +rate(numberOfRate)

    div.card-room__number-review=numberOfReviews
      span.card-room__number-review-word Отзывов
