include ../form-element/form-element
include ../copyright/copyright
include ../footer-list/footer-list

mixin footer-widget()

  -const {footerWidgetDescription, footerWidgetHeadNavigation,
  -footerWidgetNavigationItems, footerWidgetHeadAbout,
  -footerWidgetAboutItems, footerWidgetHeadSupport,
  -footerWidgetSupportItems, footerWidgetHeadSubscribe,
  -footerWidgetSubscribeDescription, footerWidgetPlaceholderEmail,
  -footerWidgetCopyrightText, footerWidgetModifier,
  -footerWidgetCopyrightModifier}=attributes

  footer(class=['footer-widget',
  `${footerWidgetModifier ? `footer-widget_${footerWidgetModifier}`:''}`])
    div.footer-widget__logo-wrapper
      img.footer-widget__logo(src=require('../img/icon-logo.svg') alt='image logo')
      p.footer-widget__description #{footerWidgetDescription}

    +footer-list()(footerListHead=footerWidgetHeadNavigation footerListItems=footerWidgetNavigationItems
      footerListModifier='navigation')

    +footer-list()(footerListHead=footerWidgetHeadAbout footerListItems=footerWidgetAboutItems
      footerListModifier='about')

    +footer-list()(footerListHead=footerWidgetHeadSupport footerListItems=footerWidgetSupportItems
      footerListModifier='support')

    div.footer-widget__subscribe-wrapper
      h3.footer-widget__subscribe-head #{footerWidgetHeadSubscribe}
      div.footer-widget__subscribe-description #{footerWidgetSubscribeDescription}

      +form-element()(typeOfForm='subscription' placeholderForForm=footerWidgetPlaceholderEmail
        modifierForInput='for-footer-widget' modifierForLabel='for-footer-widget')

    +copyright()(copyrightText=footerWidgetCopyrightText copyrightModifier='footer-widget')






