include ../form-element/form-element
include ../copyright/copyright
include ../footer-list/footer-list

mixin footer-widget(options)

  -const {description, headNavigation,
  -navigationItems, headAbout, aboutItems, headSupport, supportItems, headSubscribe,
  -subscribeDescription, placeholderEmail, copyrightText, modifier,
  -copyrightModifier}=options;

  footer(class=['footer-widget',
  `${modifier ? `footer-widget_${modifier}`:''}`])
    div.footer-widget__logo-wrapper
      img.footer-widget__logo(src=require('../img/icon-logo.svg') alt='image logo')
      p.footer-widget__description=description

    +footer-list({head:headNavigation, items:navigationItems,
      modifier:'navigation'})

    +footer-list({head:headAbout, items:aboutItems,
      modifier:'about'})

    +footer-list({head:headSupport, items:supportItems,
      modifier:'support'})

    div.footer-widget__subscribe-wrapper
      h3.footer-widget__subscribe-head=headSubscribe
      div.footer-widget__subscribe-description=subscribeDescription

      +form-element({type: 'subscription', placeholder: placeholderEmail,
        modifierForInput: 'for-footer-widget', modifierForLabel: 'for-footer-widget'})

    +copyright({text: copyrightText, modifier: 'footer-widget'})






