include ../buttons/buttons

mixin navBar(type, items, itemClasses, buttonLoginName, buttonRegName, user)
  if type === 'standart'
    nav.nav-standart
      img.nav-standart__logo(src='blocks/common/icon-logo.svg')
      ul.nav-standart__list
        each item, index in items
          li.nav-standart__item
            a(href='#' class=`${itemClasses[index]}`) #{item}
      div.nav-standart__buttons-wrapper
        +buttons('border-link', `${buttonLoginName}`, 'nav-standart__button-login', 'signIn.html')
        +buttons('full-link', `${buttonRegName}`, 'nav-standart__button-registration', 'registration.html')
        button.nav-standart__button-mobile
  else if type === 'loggedIn'
    nav.nav-standart.nav-standart--logged
      img.nav-standart__logo(src='blocks/common/icon-logo.svg')
      ul.nav-standart__list
        each item, index in items
          li.nav-standart__item
            a(href='#' class=`${itemClasses[index]}`) #{item}
      em.nav-standart__userName #{user}
      div.nav-standart__buttons-wrapper
        button.nav-standart__button-mobile
