mixin buttons(type, content, className, link)
  if type === 'full'
    button.button__full #{content}
  else if type === 'full-link'
    a(href=`${link}`).button__full #{content}
  else if type === 'transparent'
    button.button__transparent(class=`${className}`) #{content}
  else if type === 'border'
    div.button__wrapper
      button.button__border(class=`${className}`) #{content}
  else if type === 'border-link'
      a.button__border-link(class=`${className}` href=`${link}`) #{content}
  else if type === 'buy'
    button.button__full.button__full--buy #{content}
  else if type === 'like'
    div.button__wrapper.button__wrapper--like
      button.button__border.button__border--like #{content}
  else if type === 'like-gray'
    div.button__wrapper.button__wrapper--like.button__wrapper--like-gray
      button.button__border.button__border--like.button__border--like-gray #{content}