mixin buttons()

  -const {typeOfButtons, contentOfButtons, linkForButtons, modifierForButtons, jsModifierForButtons, hideModifierForButtons} = attributes

  if typeOfButtons === 'full'
    div(class=['buttons', `${modifierForButtons ? `buttons_${modifierForButtons}`:''}`])
      button.buttons__full #{contentOfButtons}

  else if typeOfButtons === 'full-link'
    div(class=['buttons', `${modifierForButtons ? `buttons_${modifierForButtons}`:''}`])
      a(href=`${linkForButtons}`).buttons__full #{contentOfButtons}

  else if typeOfButtons === 'transparent'
    div.buttons
      button.buttons__transparent(class=[`buttons__transparent_${modifierForButtons}`,
       `${jsModifierForButtons ? `js-buttons__transparent_${jsModifierForButtons}`:''}`,
        `${hideModifierForButtons ? 'buttons__transparent_hide':''}`]) #{contentOfButtons}

  else if typeOfButtons === 'bordering'
    div.buttons
      button.buttons__bordering #{contentOfButtons}

  else if typeOfButtons === 'bordering-link'
    div(class=['buttons', `${modifierForButtons ? `buttons_${modifierForButtons}`:''}`])
      a.buttons__with-bordering-link(href=`${linkForButtons}`) #{contentOfButtons}

  else if typeOfButtons === 'buy'
    div(class=['buttons', `${modifierForButtons ? `buttons_${modifierForButtons}`:''}`])
      button.buttons__full.buttons__full_for-filtering #{contentOfButtons}

  else if typeOfButtons === 'like'
    div.buttons.buttons_for-rate.buttons_like
      button.buttons__bordering.buttons__bordering_for-rate #{contentOfButtons}

  else if typeOfButtons === 'like-gray'
    div(class=['buttons', 'buttons_for-rate', 'buttons_gray',
    `${modifierForButtons ? `buttons_${modifierForButtons}`:''}`])
      button.buttons__bordering.buttons__bordering_for-rate.buttons__bordering_gray #{contentOfButtons}
