mixin buttons(type, content, className, link)
  if type === 'full'
    button.button--full #{content}
  else if type === 'full-link'
    a(href=`${link}`).button--full #{content}
  else if type === 'transparent'
    button.button--transparent(class=`${className}`) #{content}
  else if type === 'bordering'
    div.button__wrapper
      button.button--bordering(class=`${className}`) #{content}
  else if type === 'bordering-link'
      a.button--with-bordering-link(class=`${className}` href=`${link}`) #{content}
  else if type === 'buy'
    button.button--full.button--for-filtering #{content}
  else if type === 'like'
    div.button__wrapper.button__wrapper--for-rate
      button.button--bordering.button--for-rate #{content}
  else if type === 'like-gray'
    div.button__wrapper.button__wrapper--for-rate.button__wrapper--for-rate--gray
      button.button--bordering.button--for-rate.button--for-rate-gray #{content}