mixin buttons(options)

  -const {type, content, link, modifier, jsModifier, hideModifier} = options;

  if type === 'full'
    div(class=['buttons', `${modifier ? `buttons_${modifier}`:''}`])
      button.buttons__full #{content}

  else if type === 'full-link'
    div(class=['buttons', `${modifier ? `buttons_${modifier}`:''}`])
      a(href=`${link}`).buttons__full #{content}

  else if type === 'transparent'
    div.buttons
      button.buttons__transparent(class=[`buttons__transparent_${modifier}`,
       `${jsModifier ? `js-buttons__transparent_${jsModifier}`:''}`,
        `${hideModifier ? 'buttons__transparent_hide':''}`]) #{content}

  else if type === 'bordering'
    div.buttons
      button.buttons__bordering #{content}

  else if type === 'bordering-link'
    div(class=['buttons', `${modifier ? `buttons_${modifier}`:''}`])
      a.buttons__with-bordering-link(href=`${link}`) #{content}

  else if type === 'buy'
    div(class=['buttons', `${modifier ? `buttons_${modifier}`:''}`])
      button.buttons__full.buttons__full_for-filtering #{content}

  else if type === 'like'
    div(class=['buttons', 'buttons_for-rate', 'buttons_like',
      `${modifier ? `buttons_${modifier}` : ''}`])
      button.buttons__bordering.buttons__bordering_for-rate #{content}

  else if type === 'like-gray'
    div(class=['buttons', 'buttons_for-rate', 'buttons_gray',
    `${modifier ? `buttons_${modifier}`:''}`])
      button.buttons__bordering.buttons__bordering_for-rate.buttons__bordering_gray #{content}
