mixin buttons(type, content, link, className)
  if type === 'full'
    button.button-full #{content}
  else if type === 'full-link'
    a(href=`${link}`).button-full #{content}
  else if type === 'transparent'
    button.button-transparent(class=`${className}`) #{content}
  else if type === 'bordering'
    div.button
      button.button__bordering #{content}
  else if type === 'bordering-link'
      a.button-with-bordering-link(href=`${link}`) #{content}
  else if type === 'buy'
    button.button-full.button-full_for-filtering #{content}
  else if type === 'like'
    div.button.button_for-rate
      button.button__bordering.button__bordering_for-rate #{content}
  else if type === 'like-gray'
    div.button.button_for-rate.button_gray
      button.button__bordering.button__bordering_for-rate.button__bordering_gray #{content}