mixin toggle()

  -const {toggleLabel, toggleId, toggleModifier}=attributes

  span.toggle(class=['toggle',
  `${toggleModifier ? `toggle_${toggleModifier}`:''}`])
      input.toggle__field(type='checkbox' id=`${toggleId}` name='toggle')
      label.toggle__label(for=`${toggleId}` name='toggle') #{toggleLabel}
