mixin toggle(options)

  -const {label, id, modifier}=options

  span.toggle(class=['toggle',
  `${modifier ? `toggle_${modifier}`:''}`])
      input.toggle__field(type='checkbox' id=`${id}` name='toggle')
      label.toggle__label(for=`${id}` name='toggle') #{label}
