include ../form-element/form-element
include ../radio/radio
include ../toggle/toggle
include ../buttons/buttons

-const arrRadioReg = ['Мужчина', 'Женщина']
-const arrRadioRegId = ['man', 'woman']

mixin registration(modifier)

  section(class=['registration',
  `${modifier ? `registration_${modifier}`:''}`])
    h2.registration__head Регистрация аккаунта

    form.registration__form
      div.registration__name-wrapper

        +form-element()(typeOfForm='text' placeholderForForm='Имя'
          modifierForInput='for-registration')

        +form-element()(typeOfForm='text' placeholderForForm='Фамилия'
          modifierForInput='for-registration')

      div.registration__radio-wrapper
        +radio()(valueForRadio=arrRadioReg radioId=arrRadioRegId modifierForRadio='for-registration')

      div.registration__date-head дата рождения

      +form-element()(typeOfForm='date' placeholderForForm='дд.мм.гггг'
        modifierForInput='for-registration' jsModifierForInput='for-registration'
      modifierForLabel='for-registration')

      div.registration__data-head данные для входа в сервис

      +form-element()(typeOfForm='text' placeholderForForm='Email'
      modifierForInput='for-registration')

      +form-element()(typeOfForm='password' placeholderForForm='Пароль'
        modifierForInput='for-registration')

      +toggle(toggleLabel='Получать спецпредложения' toggleId='registration-toggle'
        toggleModifier='for-registration')

      +buttons()(typeOfButtons='buy' contentOfButtons='перейти к оплате' modifierForButtons='for-registration')

    div.registration__footer
      span.registration__footer-label Уже есть аккаунт на Toxin
      +buttons()(typeOfButtons='bordering-link' contentOfButtons='войти' linkForButtons='registration-login' modifierForButtons='for-registration')



