mixin input(type, placeholder, jsClass)
  if type === 'text'
    input(type='text' class=`input input_text` placeholder=`${placeholder}`)
  else if type === 'dropdown'
    label.input-label-dropdown
      input(type='text' class= jsClass ? `input input_dropdown ${jsClass}`: 'input input_dropdown' placeholder=`${placeholder}` readonly)
  else if type === 'masked'
    input(type='text' class='input input_masked' placeholder=`${placeholder}`)
  else if type === 'date'
      input(type='text' class= jsClass ? `input input_date ${jsClass}`: 'input input_date'  placeholder=`${placeholder}`)
  else if type === 'filter'
    label(class=className ? `input_label-dropdown ${className}`: 'input_label-dropdown')
      input(type='text' class=jsClass ? `input input_filter ${jsClass}`:'input input_filter' placeholder=`${placeholder}`)
    input(type='text' class='input input_filter-hide hide')
  else if type === 'subscription'
    label.input-label-subscription
      input(type='text' class='input input_subscription' placeholder=`${placeholder}`)
  else if type === 'password'
    input(type='password' class=`input input_text` placeholder=`${placeholder}`)